.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* styles added for columns in franklin */

.columns-wrapper {
  margin-left: calc(var(--grid-width) / var(--grid-columns-count) * 2);
  margin-right: calc(var(--grid-width) / var(--grid-columns-count) * 2);
  margin-bottom: 120px;

  @media (min-width: 1024px) {
    margin-bottom: 160px;
  }
}

.section.themelight.columns-container .columns-wrapper {
  background-color: var(--theme-color-2);
}

.columns {
  color: var(--theme-color-1);
}

.columns .headline {
  padding-bottom: 24px;
}
