/* stylelint-disable */

/* NewHomeCards 
siemens.com styles adjusted for linklist*/

.newHomeCards {
  margin-left: calc(var(--grid-width) / var(--grid-columns-count) * 2);
  margin-right: calc(var(--grid-width) / var(--grid-columns-count) * 2)
}

.linklist .newHomeCards__list {
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  column-gap: 40px;
}

@media (min-width: 600px) {
  .linklist .newHomeCards__list {
      flex-direction: unset;
  }
}


.linklist .newHomeCards__list>div {
  list-style: none;
  min-width: 0;
  flex: 1;
}

.newHomeCards--teaser .newHomeCards__list {
  row-gap: 40px
}

.newHomeCards .newHomeHeadline {
  margin-left: calc(-1 * calc(var(--grid-width) / var(--grid-columns-count) * 2));
  margin-right: calc(-1 * calc(var(--grid-width) / var(--grid-columns-count) * 2))
}

.newHomeCards .newHomeTeaserCard__container {
  display: block;
  grid-template-columns: none;
  width: auto
}

.newHomeCards .newHomeButton.newHomeButton--icon {
  display: none
}

.newHomeCards .newHomeTeaserCard--standalone.newHomeTeaserCard .newHomeTeaserCard__container {
  display: block;
  height: 100%;
  width: auto;
  margin: 0
}

/* NewHomeCard */

@media (min-width: 1024px) {
  .linklist .newHomeCard {
      display: block;
      column-gap: 60px
  }
}

.newHomeCard__media {
  padding-bottom: 32px
}

@media (min-width: 600px) {
  .newHomeCard__media {
      padding-bottom:24px
  }
}

@media (min-width: 1024px) {
  .newHomeCard__media {
      padding-bottom:0
  }
}

.newHomeCard__content {
  color: var(--theme-color-1)
}

.newHomeCard__contentWithTags {
  padding: 0 17px 0 0;
  position: relative
}

.newHomeCard__topic {
  display: inline-block;
  padding-bottom: 8px
}

.newHomeCard__topic .newHomeTopic__topicItem {
  font-size: 1.125rem;
  font-family: Siemens Sans Black,arial,sans-serif;
  line-height: 1.2222222222;
  color: var(--theme-color-1);
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase
}

.newHomeCard__heading {
  font-size: 1.375rem;
  font-family: Siemens Sans Black,arial,sans-serif;
  line-height: 1.3636363636;
  color: var(--theme-color-1);
  font-weight: 400;
  padding-bottom: 24px
}

@media (min-width: 600px) {
  .newHomeCard__heading {
      font-size:1.5rem;
      font-family: Siemens Sans Black,arial,sans-serif;
      line-height: 1.3333333333
  }
}

@media (min-width: 1440px) {
  .newHomeCard__heading {
      font-size:1.5rem;
      font-family: Siemens Sans Black,arial,sans-serif;
      line-height: 1.3333333333
  }
}

.newHomeCard__topic+.newHomeCard__heading {
  font-size: 1.625rem;
  font-family: Siemens Sans Black,arial,sans-serif;
  line-height: 1.3076923077;
  color: var(--theme-color-1);
  font-weight: 400
}

@media (min-width: 600px) {
  .newHomeCard__topic+.newHomeCard__heading {
      font-size:1.75rem;
      font-family: Siemens Sans Black,arial,sans-serif;
      line-height: 1.2142857143
  }
}

@media (min-width: 1440px) {
  .newHomeCard__topic+.newHomeCard__heading {
      font-size:2rem;
      font-family: Siemens Sans Black,arial,sans-serif;
      line-height: 1.1875
  }
}

.newHomeCard__description {
  font-size: 1.125rem;
  font-family: Siemens Sans Roman,arial,sans-serif;
  line-height: 1.5555555556;
  color: var(--theme-color-1);
  font-weight: 400
}

.newHomeCard__description a {
  color: #0cc;
  text-decoration: none;
  border-bottom: 1.5px solid;
  word-wrap: break-word;
  overflow: hidden
}

.newHomeCard__description i {
  font-family: Siemens Sans Prof Italic,arial,sans-serif
}

.newHomeCard__description b,.newHomeCard__description strong {
  font-family: Siemens Sans Prof Bold,arial,sans-serif
}

.newHomeCard__description p+p {
  margin-top: 24px
}

.newHomeCard__description ul {
  list-style-type: disc
}

.newHomeCard__description *+ul,.newHomeCard__description *+ol {
  margin-top: 40px
}

.newHomeCard__description .newHomeLink.newHomeLink--internal:before {
  display: none
}

.newHomeCard__description .contactSupport__base {
  list-style-type: none;
  padding-left: 0
}

.newHomeCard__description .contactSupport__base li {
  margin-bottom: 16px
}

.newHomeCard__description .contactSupport__base .contactSupport__companyEntry b:first-child {
  display: block;
  margin-bottom: -10px
}

.newHomeCard__description ul,.newHomeCard__description ol {
  padding-left: 20px
}

.newHomeCard__description ul+*,.newHomeCard__description ol+* {
  margin-top: 56px
}

@media (min-width: 600px) {
  .newHomeCard__description ul+*,.newHomeCard__description ol+* {
      margin-top:64px
  }
}

@media (min-width: 1024px) {
  .newHomeCard__description ul+*,.newHomeCard__description ol+* {
      margin-top:56px
  }
}

@media (min-width: 1440px) {
  .newHomeCard__description ul+*,.newHomeCard__description ol+* {
      margin-top:64px
  }
}

.newHomeCard__description ul.newHomeLinkList,.newHomeCard__description ol.newHomeLinkList {
  padding-left: 0;
  list-style-type: none
}

.newHomeCard__description ul.newHomeLinkList li,.newHomeCard__description ol.newHomeLinkList li {
  margin-bottom: 16px
}

.newHomeCard__description ul.newHomeLinkList li:last-child,.newHomeCard__description ol.newHomeLinkList li:last-child {
  margin-bottom: 0
}

.newHomeCard__description ul.newHomeLinkList li>a,.newHomeCard__description ol.newHomeLinkList li>a {
  border-bottom: none
}

.newHomeCard__description ul.newHomeLinkList .newHomeLink.newHomeLink--iconLeft:before,.newHomeCard__description ol.newHomeLinkList .newHomeLink.newHomeLink--iconLeft:before {
  display: inline-block
}

.newHomeCard__description .newtonBulletList li {
  margin-bottom: 16px
}

.newHomeCard__description .newtonBulletList li:last-child {
  margin-bottom: 0
}

.newHomeCard__location {
  font-size: .875rem;
  font-family: Siemens Sans Roman,arial,sans-serif;
  line-height: 1.7142857143;
  letter-spacing: .2px;
  color: var(--theme-color-1);
  font-weight: 700
}

.newHomeCard__location:after {
  content: " | "
}

.newHomeCard__date {
  font-size: .875rem;
  font-family: Siemens Sans Roman,arial,sans-serif;
  line-height: 1.7142857143;
  letter-spacing: .2px;
  color: var(--theme-color-1);
  font-weight: 700
}

.newHomeCard__buttonContainer {
  text-align: center;
  padding-top: 32px
}

@media (min-width: 600px) {
  .newHomeCard__buttonContainer {
      text-align:left
  }
}

@media (min-width: 1024px) {
  .newHomeCard__buttonContainer {
      text-align:left;
      padding-top: 32px;
      padding-bottom: 0
  }
}

.newHomeCard__buttonContainer .newHomeButton.newHomeButton--terciery:hover,.newHomeCard__buttonContainer .newHomeButton.newHomeButton--terciery:active {
  background: none
}



@media (min-width: 1024px) {

  .newHomeCards .newHomeCard .newHomeCard__media {
      padding-bottom: 32px
  }
}

/* styles added for linklist in franklin */

.newHomeCard__description .icon {
  margin-right: 17px;
  position: relative;
  top: 4px;
}

.newHomeCard__description .icon svg {
  fill: var(--theme-color-button-tertiary-default);
}

.newHomeCard__description a:hover .icon svg {
  fill: var(--theme-color-button-tertiary-hover);
}

.newHomeCard__description p > a, .newHomeCard__description .newHomeLinkList li > a {
  border-bottom: none
}

.newHomeCard__description .newHomeLinkList p > a.removePseudoElement:before {
  content: '';
  display: none !important;
}

.newHomeCard__description .newHomeLinkList .newHomeLink.newHomeLink--iconLeft:before,
.newHomeCard__description .button-container .newHomeLink.newHomeLink--iconLeft:before {
  display: inline-block
}

.newHomeCard__description .newHomeLinkList .removePseudoElement.newHomeLink.newHomeLink--iconLeft:before {
  display: none;
}
